@model Evaluacion_NuevoIngreso.Models.Estudiantes

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Eliminar Alumno";
}

<h2>Eliminar Alumno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            NOMBRE
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
           PRIMER APELLIDO
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            SEGUNDO APELLIDO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            FECHA DE NACIMIENTO
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nacimiento)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a Lista", "Lista", new { id = "" }, new { @class = "btn btn-default" })
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
